#root {
   background-color: #252524;
}

.btn.btn-outline-light.mt-3 {
    border: 1.5px outset black;
    font-family: "Anton", sans-serif;
    font-size: small;
}

.btn.btn-outline-light.mt-3:hover {
    filter: drop-shadow(0 0 .25em red);
    background-color: #252524;
    color: whitesmoke;
    
}

.header {
    width: auto;
    height: 150px;
    border: dashed 1px white;
    align-content: center;
}

.task-container {
    font-family: "Anton", sans-serif;


    height: auto;
    font-size: 18px; 
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 15px;
    border: 1.5px inset black;
    border-radius: 10px;
    background-color: #252524;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);

    display: grid;
    grid-auto-rows: minmax(auto, 180px);

    /* flex: 1 0 25%;  */
    column-gap: 1em;
    columns: 6;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-gap: 1em; */

}


/* @media (max-width: 1800px) {
    .task-container {
        columns: 5;
    }
}

@media (max-width: 1400px) {
    .task-container {
        columns: 4;
    }
}

@media (max-width: 992px) {
    .task-container {
        columns: 3;
    }
}

@media (max-width: 768px) {
    .task-container {
        columns: 2;
    }
}

@media (max-width: 443px) {
    .task-container {
        columns: 1;
        column-gap: 3em;
    }
} */


.logoTodoPage {
    border: dashed 10px pink;
    border-radius: 15%;
    max-width: 8%;
    margin-top: 10px;
    margin-left: 20px;
}

.godfatherFontTodo {
    max-width: 10%;
    margin-top: 100px;
    margin-left: 10px;
}

.logoTodoPage:hover {
    filter: drop-shadow(0 0 .25em red);
    border: solid 1px red;
    border-radius: 15%;
  }


.hitlist-heading {
    /* justify-content: center; */
    width: 25%;
    aspect-ratio: auto;
    max-height: 80px;

}

@media (max-width: 768px) {
    .hitlist-heading {
        width: 120px;
    }
}

@media (min-width: 990px) {
    .hitlist-heading {
        width: 174px;
    }
}

.todo-heading {
    width: 100%;
    min-height: 100px;
    margin: 10px;
    display: grid;
    align-content: center;
    /* border: dashed 3px red; */
    
}


.logo-container-todo {
    height: 125px;
    width: 125px;
    border: solid 1px yellow;
    
}


