#root {
   background-color: #252524;
}

.todo-btn.btn.btn-outline-light.mt-3 {
    border: 1.5px outset black;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: large;
}

.todo-btn.btn.btn-outline-light.mt-3:hover {
    background-color: #252524;
    border: 1.5px inset black;
    box-shadow: inset 0px 0px 2.5px 1.25px rgba(0,0,0,0.6);
    color: goldenrod;   
}

.todo-home-btn.btn {
    border: 1.5px outset black;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: large;
    margin: 5px;
}

.todo-home-btn.btn:hover {
    background-color: #252524;
    border: 1.5px inset black;
    box-shadow: inset 0px 0px 2.5px 1.25px rgba(0,0,0,0.6);
    color: darkred;
}

.header {
    width: auto;
    height: 150px;
    border: dashed 1px white;
    align-content: center;
}

.task-container {
    z-index: +1;

    height: auto;
    font-size: 18px; 
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 15px;
    border: 1.5px inset black;
    border-radius: 10px;
    background-color: #252524;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
    display: grid;
    grid-auto-rows: minmax(auto, 220px);
    column-gap: 1em;
    columns: 6;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    &:empty:not(:is(:before, :after)) {
        display: none;
    }

}


.logoTodoPage {
    border: dashed 10px pink;
    border-radius: 15%;
    max-width: 8%;
    margin-top: 10px;
    margin-left: 20px;

    height:auto;
    border-radius: 15%;
    width: 100%;

    padding: 1.5em;
    margin-top: 10%;
    will-change: filter;
    transition: filter 300ms;
}

.godfatherFontTodo {
    max-width: 10%;
    margin-top: 100px;
    margin-left: 10px;
}

.logoTodoPage:hover {
    filter: drop-shadow(0 0 .25em red);
    border: solid 1px red;
    border-radius: 15%;
  }


.hitlist-heading {
    width: 20%;
    aspect-ratio: auto;
    max-height: 80px;

}

@media (max-width: 768px) {
    .hitlist-heading {
        width: 120px;
    }
}

@media (min-width: 1000px) {
    .hitlist-heading {
        width: 190px;
    }
}

.todo-heading {
    width: 100%;
    min-height: 100px;
    margin: 10px;
    display: grid;
    align-content: center;   
}


.logo-container-todo {
    height: 125px;
    width: 125px;
    border: solid 1px yellow;   
}

@media (max-width: 386px) {
    .todopage-container {
       min-width: 386px;
    }
}


.todo-logo {
    border-radius: 15%;
    width: 30%;
    height: auto;
    padding: 1.5em;
    margin-top: 10%;
    will-change: filter;
    transition: filter 300ms;
    position: relative;
    justify-content: left;
}

