.task-modal {
    background-color: black;
    border-radius: 10px;
    width: auto;
}

.modal-content {
    background-color: #252524;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6);
    border: 1.5px outset black;
    border-radius: 10px; 
}

.modal-content:hover {
    filter: drop-shadow(0 0 .1em red);
}

.form-control {
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
    border: 1.5px inset black;
}

.modal-body {
    box-shadow: inset 5px 5px 5px 5px rgba(0,0,0,0.6);
    border-bottom: 1.5px inset black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 10px; */
}

.modal-title {
    font-family: 'Pricedown Bl', sans-serif;
    color: goldenrod;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.modal-edit-btn, .modal-trash-btn {
    /* border: 1.5px outset black;
    font-family: "Anton", sans-serif;
    font-size: small;
    background-color: #252524; */
}
