.task-modal {
    background-color: black;
    border-radius: 10px;
    width: auto;
}

.modal-content {
    background-color: #252524;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6);
    border: 1.5px outset black;
    border-radius: 10px; 
}

.modal-content:hover {
    filter: drop-shadow(0 0 .1em red);
}

.form-control {
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
    border: 1.5px inset black;
}

.modal-body {
    box-shadow: inset 5px 5px 5px 5px rgba(0,0,0,0.6);
    border-bottom: 1.5px inset black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.modal-title {
    font-family: 'Pricedown Bl', sans-serif;
    color: goldenrod;
   
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

/* .modal-edit-btn, .modal-trash-btn {
    border: 1.5px outset black;
    font-family: "Anton", sans-serif;
    font-size: small;
    background-color: #252524;
} */

.passphrase-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.custom-alert {
    background-color: #252524; /* Same background as modal content */
    color: darkred;
    padding: 15px; /* Add some padding for content spacing */
    border-radius: 10px; /* Consistent border radius */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6); /* Similar shadow effect */
    display: flex; /* Allow for additional styling using flexbox */
    align-items: center; /* Vertically center message content */
    width: 60%;
    height: 25%;
    margin: auto;
    font-family: 'Pricedown Bl', sans-serif;
    position: fixed;  /* Added position: fixed */
    top: 25%;  /* Position the alert vertically at 50% */
    left: 50%;   /* Position the alert horizontally at 50% */
    transform: translate(-50%, -50%);  /* Center the alert in the viewport */
  
    z-index: 9999;
    
}

.custom-alert-info { /* Optional style for info alerts */
    border: 1px solid #ddd; /* Light border for info alerts */
  }
  
  .custom-alert-error { /* Optional style for error alerts */
    border: 1px solid #f5c6cb; /* Red border for error alerts */
    color: #721c24; /* Red text for error alerts */
  }
  
  .custom-alert p { /* Style the message paragraph */
    margin: 0; /* Remove default margin for better spacing */
    font-size: x-large; /* Consistent font size */
    color: royalblue;
  }

  .alert-close {
    border: 1.5px outset black;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: large;
  }

  .passphrase-form-container {
    background-color: #252524;
    padding: 20px;
    border: 1.5px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);

    width: 60%;
    min-width: 289px;
    height: 25%;
    margin: auto;
    font-family: 'Pricedown Bl', sans-serif;
    position: fixed;  /* Added position: fixed */
    top: 25%;  /* Position the alert vertically at 50% */
    left: 50%;   /* Position the alert horizontally at 50% */
    transform: translate(-50%, -50%);  /* Center the alert in the viewport */

    z-index: 1000; /* Ensure it's above the blurred background */
  }

  .passphrase-control {
    display: flex;
    justify-content: center; /* Horizontally center the buttons */
    margin-top: 1px; /* Add some margin for spacing */
  }

  .passphrase-submit-btn.btn, .passphrase-close-btn.btn {
    border: 1.5px outset black;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: x-large;
    margin: 5px;
  }

  .passphrase-submit-btn.btn:hover {
    background-color: #252524;
    border: 1.5px inset black;
    box-shadow: inset 0px 0px 2.5px 1.25px rgba(0,0,0,0.6);
    color: forestgreen;
}

.passphrase-close-btn.btn:hover {
    background-color: #252524;
    border: 1.5px inset black;
    box-shadow: inset 0px 0px 2.5px 1.25px rgba(0,0,0,0.6);
    color: darkred;
}

.alert-content {
  display: flex; /* Enable flexbox for the container */
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center content vertically (optional) */
}

.alert-message { /* Apply styling to the p element */
  margin: 0; /* Remove default margin */
}