.card-wrapper {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 300px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6);
    border: 1.5px outset black;
    border-radius: 10px; 
    margin: 10px;
    background-color: #252524;
    flex-wrap: wrap;
}


@media (max-width: 670px) {
    .card-wrapper {
       width: 100%;
       min-width: 300px;
    }
}

@media (min-width: 1300px) {
    .card-wrapper {
       width: 100%;
       max-width: 1265px;
    }
}

@media (min-width: 1300px) {
    .card-wrapper {
       width: 100%;
       max-width: 2000px;
    }
}

.card-wrapper:hover {
    box-shadow: 0px .5px 10px red;
}

.card-wrapper.completed:hover {
    box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.6); /* Default hover effect */
  }
  

.card-top {
    width: 100%;
    height: 2.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    opacity: 100%;
    color: whitesmoke; 
    display: flex;
    justify-items: flex-end;
    padding-top:8px;
    padding-right: 10px;
    font-size: auto;
}

.task-holder {
    position: relative;
    top: 5%;
    left: 0;
}

.card-header {
    margin-left: 10px;  
    width: 100%;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: x-large;
    color: goldenrod;
    padding-bottom: 10%;
    padding-top: 0%;
    overflow-y: hidden;   
}

.card-details {
    font-family: 'Pricedown Bl', sans-serif;
    font-size: larger;
    overflow-y: auto;
    height: 140px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 2.5px 5px 2.5px .5px rgba(0,0,0,0.6);
    border-bottom: 1.5px inset black;
    border-right: 1px inset black;
    padding: 15px;
    padding-top: 25px;  
    margin-bottom: 5px;
    user-select: none;
}


p {
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: whitesmoke;
    font-size: medium;
    
}

i {
    color: white
}

.fa-solid.fa-toilet {
    margin-left: 7.5px;
    margin-right: 2.5px;
}

.fa-solid.fa-pencil {
    margin-right: 7.5px;
}

.fa-solid.fa-toilet,
.fa-solid.fa-pencil,
.fa-solid.fa-crosshairs {
    margin-top: 3px;
}

.edit-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    

}

.task-holder {
    margin-top: 18px;
    width: 100%;
    display: flex;
}


/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252524;
    border-radius: 5px;
    border: 3px inset black; ;

}

/* Track on hover*/
::-webkit-scrollbar-track:hover {
    box-shadow: inset 0px .25px 5px black;
    

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #252524;
    border: 1.5px outset black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 2.5px 1.75px rgba(0.6,0,0,0);
    border: 1.5px outset black;
}

.disable-scroll {
    overflow-y: hidden;
  }

  .disable-pointer {
    pointer-events: none;
  }
  
  .disable-scroll {
    overflow-y: hidden;
  }
  
  .card-header, .card-details {
    cursor: ${({ completed }) => (completed ? "default" : "pointer")};
  }