.card-wrapper {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    height: auto;
    /* max-height: 450px; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6);
    border: 1.5px outset black;
    border-radius: 10px; 
    margin: 10px;
    background-color: #252524;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em; 

   

}

@media (max-width: 485px) {
    .card-wrapper {
       width: 100%;
    }
}

.card-wrapper:hover {
    box-shadow: 0px .5px 10px red;
}

.task-container {

}

.card-top {
    width: 100%;
    height: 20%;
    min-height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    opacity: 100%;
    color: whitesmoke; 
    /* border: dashed 5px red; */
    display: flex;
    justify-items: flex-end;
    padding: 10px;
    font-size: medium;
    /* background-color: #252524; */
}

.task-holder {
    position: absolute;
    top: 5%;
    left: 0;
}

.card-header {
    margin-left: 10px;  
    /* border: dotted 10px pink; */
    width: 100%;
    
     
}

.card-details {
    font-family: "Helvetica Neue, Arial", "Helvetica";
}


p {
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: white;
    font-size: small;
}

i {
    color: white
}

.fa-solid.fa-toilet {
    margin-left: 7.5px;
}

.edit-buttons {
    width: 100%;
    /* padding: 10px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    
    

}

.task-holder {
    margin-top: 18px;
    width: 100%;
    display: flex;
}