#root{
    /* background-color: #252524;
    border: dashed 1px orangered; */

    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: solid 1px red; */
    min-height: 860px;
}

.home-h1 {
    user-select: none;
    /* border: solid 1px white; */
  }

.home-p {
    margin-top: 5px;
    text-align: left;
    /* border: solid 1px white; */
    font-family: 'Pricedown Bl', sans-serif;
    font-size: x-large;
    padding-left: 35px;
}

.home-underText {
    text-align: right;
    /* border: solid 1px white; */
    font-family: 'Pricedown Bl', sans-serif;
    font-size: x-large;
    /* font-style: oblique; */
    /* font-style: unset; */
    padding-right: 30px;
    margin-top: 12.5px;
}

.home-logo {
    height:auto;
    /* border: dashed 1px yellow; */
    border-radius: 15%;
    width: 100%;
    padding: .5em;
    margin-top: 7.5%;
    margin-bottom: 2.5%;
    will-change: filter;
    transition: filter 300ms;
}

.home-logo:hover {
    /* filter: drop-shadow(0 0 .5em red); */
    border: 1.5px inset black;
    box-shadow: 3px 4px 4px 3px rgba(0,0,0,0.6), 4px 3px 3px 4px rgba(0.6,0,0,0);
    padding: 0;
}

.home-content-container, 
.homeNav {
    /* border: solid 1px goldenrod; */
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 365px) {
    .home-content-container,
    .homeNav {
       width: 365px;
       min-width: 365px;
    }
}

@media (max-width: 600px) {
    .home-content-container,
    .homeNav {
       min-width: 95%;
    }
}

@media (min-width: 600px) {
    .home-content-container,
    .homeNav {
        width: 90%;
       max-width: 456px;
    }
}

.home-godfatherFont {
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
} 

.home-godfatherFont:hover {
    cursor: pointer;
    border: solid 1px black;
    padding: 5px;
    width: 90%;
    border: 1.5px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 5px rgba(0.6,0,0,0),
                inset 5px 10px 0px 0px rgba(0,0,0,0.6);
    /* filter: invert(10%); */
    background-color: #272727;
}

.home-login-btn.btn, .home-contact-btn.btn {
    border: 1.5px outset black;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: large;
  }
  
  .home-login-btn.btn:hover {
    /* filter: drop-shadow(0 0 .5em red); */
    background-color: #252524;
    border: 1.5px inset black;
    box-shadow: inset 0px 0px 2.5px 1.25px rgba(0,0,0,0.6);
    color: forestgreen;
  }
  
  .home-contact-btn.btn:hover {
      /* filter: drop-shadow(0 0 .5em goldenrod); */ 
      /* border: solid 2px goldenrod; */
      background-color: #252524;
      border: 1.5px inset black;
      box-shadow: inset 0px 0px 2.5px 1.25px rgba(0,0,0,0.6);
      color: goldenrod;
  }







