#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
  /* border: solid 1px red; */
}

.logo {
  height: auto; 
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border: solid 1px red;

  /* border-radius: 15%; */
  width: auto;
  margin-top: 0px;
  margin-left: 0px;
} 


/* HOVER SETTINGS */

h1:hover, img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 .5em red);
}

.logo:hover {
  filter: drop-shadow(0 0 2em red);
  border: solid 1px red;
  border-radius: 15%;
}
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


/* .button.count:hover, button.reset:hover,  */
.btn:hover {
  /* filter: drop-shadow(0 0 .5em goldenrod); */
  /* border: solid 2px goldenrod; */
  /* color: #252524; */

}

/* .btn.btn-outline-danger, .btn.btn-outline-warning  {
  border: 1.5px outset black;
  font-family: "Anton", sans-serif;
  font-size: small;
}

.btn.btn-outline-danger:hover {
  filter: drop-shadow(0 0 .5em red);
  border: solid 2px red;
  background-color: #252524;
  box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
}

.btn.btn-outline-warning:hover {
    filter: drop-shadow(0 0 .5em goldenrod);
    border: solid 2px goldenrod;
    background-color: #252524;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
} */



/* AT-RULES */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* UNORGANIZED */
/* .card {
  padding: 2em;
  border: solid 1px red;
}

.countMainDash {
  font-size: 24px;
  font-weight: 400;
  border: solid 1px red;
}

span {
  margin: 20px;
  border: solid 1px red;
}

h1 {
  user-select: none;
  border: solid 1px red;
  font-family: "Anton", sans-serif;
}

h1:hover {
  cursor: pointer;
} */
